// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #1f6feb;
$secondary: #f08f5a;
$accent: #2f7d73;

$dark: #162139;
$dark-page: #0f172a;

$positive: #1f9d57;
$negative: #c33535;
$info: #2482d4;
$warning: #c48a19;
